# Ignore Node.js packages (Too heavy)
node_modules/
frontend/node_modules/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Environment Variables (PROTECT YOUR TWILIO KEYS!)
.env
backend/.env
frontend/.env

# Ignore Local Database
hospital.db
backend/hospital.db

# Ignore build folders
dist/
frontend/dist/